{% extends 'layouts/app.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/css/home.css" type="text/css">
{% endblock %}

{% block content %}
    <div class="col-3"></div>

    <div class="col-6">
        <h1 id="welcome">
            Welcome!
        </h1>
    </div>

    <div class="col-3"></div>
{% endblock %}

{% block js %}

{% endblock %}
