{% extends 'layouts/app.twig' %}

{% block title %}
    Not Found
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/css/error.css">
{% endblock %}

{% block content %}
    <h1 id="not-found">{{ message }}</h1>
{% endblock %}
